*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #344a72;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#container{
    margin: 30px auto;
    max-width: 30%;
    padding: 20px;
    


}

.formwrap{
    background-color: white;
    color: gray;
    padding: 20px;
    

}

.formwrap h1,
.formwrap p{
    text-align: center;
    color: black;
}

.formwrap p{
    margin-top: 12px;
}

.formwrap .form-1{

    line-height: 1.5em;

}

.form-1{
    margin-top: 10px;
}

.formwrap .form-1 label{
    display: block;
}

.formwrap .form-1 input{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.formwrap button{
    width: 100%;
    background-color: #41c9a2;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #65837a;
    border-radius: 5px;
}

.formwrap button:hover{
    background-color: #344a72;
    color: grey;
}

a{
    text-decoration: none;
}
   .formwrap .bottom-text{
       font-size: 13px;
       margin-top: 20px;
   }

    footer{
        text-align: center;
        margin-top: 15px;
    }

    footer a{
        color: #41c9a2;
    }

    @media (min-width: 576px) and (max-width:768px){

        #container{
            margin: 30px auto;
            max-width: 60%;
            padding: 20px;
            
        
        
        }
    }
    
    
    @media (min-width: 769px) and (max-width:992px){
      
#container{
    margin: 30px auto;
    max-width: 50%;
    padding: 20px;
    


}
    }
    
    
    @media (max-width:575px){
      
#container{
    margin: 30px auto;
    max-width: 90%;
    padding: 20px;
    


}